{{!-- Sign up form --}}
<section class="col-4 mt-4">
  <section id="form-card" class="card d-flex flex-column justify-content-center">

    <section class="card-header">
      <h2 class="header-font" id="form-card-header">Sign Up</h2>
    </section>

    <form class="card-body signup-form d-flex flex-column">
      <label for="username-signup">Create a Username:</label>
      <input type="text" id="username-signup" class="form-control-lg" />

      <label for="password-signup">Create a Password:</label>
      <input type="password" id="password-signup" class="form-control-lg" />

      <br>
      <button class="btn btn-secondary" type="submit">Sign up!</button>

      <p class="mt-2"> <a href="/login" class="login-signup-anchor">Log in instead</a> </p>

    </form>

  </section>
</section>

<script src="./js/signup.js"></script>