<section class="day-view-card">
    <section class="day-header d-flex justify-content-between">
        <h2 class="view-label"><i class="fa-solid fa-fire-flame-curved"></i> {{username}}'s Monthly Workout Schedule </h2>
        {{!-- <h2 class="header-font">Welcome, {{username}}!</h2> --}}
        <nav>
            <ul>
                <li> <a href="/logout">Logout</a> </li>
            </ul>
        </nav>
    </section>

    <div id="app">
        <div class="calendar-month">
            <section class="calendar-month-header">
                <span id="previous-month-selector"><i class="fa-sharp fa-solid fa-arrow-left"></i></span>
                <div id="selected-month" class="calendar-month-header-selected-month"></div>
                <span id="next-month-selector"><i class="fa-solid fa-arrow-right"></i></span>
                <section class="calendar-month-header-selectors">
                    <span id="present-month-selector">Today</span>
                </section>
            </section>

            <ol id="days-of-week" class="day-of-week" />
            </ol>

            <ol id="calendar-days" class="days-grid">
            </ol>
        </div>
    </div>
</section>

<script 
    src="https://cdn.jsdelivr.net/npm/dayjs@1.11.3/dayjs.min.js"
    integrity="sha256-iu/zLUB+QgISXBLCW/mcDi/rnf4m4uEDO0wauy76x7U="
    crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/weekday.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/weekOfYear.js"></script>

<script src="/js/calendar.js"></script>
