<section class="day-view-card">
    <section class="day-header">
        <h2>Todays Date</h2>
    </section>
    <section class="day-view-body">
        <article id="add-workout-button">
            <button id="add-workout">Add Workout</button>
        </article>
        <section class="workout-day-view-sections">
            <article class="todays-workout">
                <section class="d-flex flex-column col-8">
                    {{> workout-info}}
                </section>
            </article>
            <article class="previous-workout">
                <p>Insert previous Workouts here</p>
            </article>
            <article class="exercises-info">
                <p>Insert api data here</p>
            </article>
        </section>
    </section>
</section>

<script src="../js/day-view.js"></script>