<section class="day-view-card">
    <section class="day-header">
        <h2>Todays Date</h2>
    </section>
    <section class="day-view-body">
        <article id="add-workout-button">
            <button>Add Workout</button>
        </article>
        <section class="workout-day-view-sections">
            <article class="todays-workout">
                <p>Insert Todays Workout here</p>
            </article>
            <article class="previous-workout">
                <p>Insert previous Workouts here</p>
            </article>
            <article class="exercises-info">
                <p>Insert api data here</p>
            </article>
        </section>
    </section>
</section>

<script src="../public/js/day-view.js"></script>