<section class="day-view-card">
    <section class="day-header">
        <h2>Todays Date</h2>
    </section>
    <section class="day-view-body">
        <article id="add-workout-button">
            <button>Add Workout</button>
        </article>
        <section class="workout-day-view-sections">
            <article class="todays-workout">
                <p>Insert Todays Workout here</p>
            </article>
            <article class="previous-workout">
                <p>Insert previous Workouts here</p>
            </article>
            <article class="exercises-info">
                <h3>Suggested Workout:</h3>
                <h4>Exercise Name:</h4>
                <p id="exercise-name"></p>
                <h4>Exercise Difficulty:</h4>
                <p id="exercise-difficulty"></p>
                <h4>Exercise Equipment:</h4>
                <p id="exercise-equipment"></p>
                <h4>Exercise Instructions:</h4>
                <p id="exercise-instructions"></p>
            </article>
        </section>
    </section>
</section>

<script src="/js/day-view.js"></script>