{{log this}}
<section class="day-view-card">
    <section class="day-header">
        <h2>Todays Date</h2>
    </section>

    <form>
        {{{get_edit_form workout}}}

        <button type="submit">Update Workout</button>

    </form>

</section>

<script src="../../js/edit-workout-form.js"></script>