<main class="calendar week-view-card">
  <section class="week-view-header">YOUR WEEK</section> 
  <section class="week-view-body">

    <div class="date-card">
        <div class="date-card-header">DATE</div>
        <div class="date-card-body">
            <div class="workout-div">Workout Category</div>
            <div class="duration-div">Workout Length</div>
            <div class="details-div">Workout Details</div>
        </div>
    </div>

  </section>
</main>