<main class="calendar week-view-card">
    <section class="week-view-header">YOUR WEEK</section>
    <section class="week-view-body">

        <div class="date-card">
            <div class="date-card-header">
                <p>SUNDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

        <div class="date-card">
            <div class="date-card-header">
                <p>MONDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

                <div class="date-card">
            <div class="date-card-header">
                <p>TUESDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

                <div class="date-card">
            <div class="date-card-header">
                <p>WEDNESDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

                <div class="date-card">
            <div class="date-card-header">
                <p>THURSDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

                <div class="date-card">
            <div class="date-card-header">
                <p>FRIDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

                <div class="date-card">
            <div class="date-card-header">
                <p>SATURDAY</p>
                <p>DATE</p>
            </div>
            <div class="date-card-body">
                <div class="workout-div">Workout Category</div>
                <div class="duration-div">Workout Length</div>
                <div class="details-div">Workout Details</div>
            </div>
        </div>

    </section>
</main>