<main class="d-flex flex-column align-items-center login-body">
    <h1 class="mt-5 pt-5 display-2 header-font welcome-header-text">Welcome to Workout Tracker!</h1>

    {{#if signup}} 
    {{> signup-partial}}
    {{else}} 
    {{> login-partial}}
    {{/if}}
</main>


