<main class="d-flex flex-column align-items-center">
    <h1 class="mt-5 pt-5 display-2"><b>Welcome to Workout Tracker!</b></h1>

    {{#if signup}} 
    {{> signup-partial}}
    {{else}} 
    {{> login-partial}}
    {{/if}}
</main>


