/* Styles across whole site */
* {
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

main {
    min-height: 100%;
}
.header-font {
    font-family: 'Mulish', sans-serif;
}

.view-label {
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

nav {
    text-align: right;
}

nav li {
    list-style: none;
    display: inline;
    font-size: 1.2rem;
}

nav a:hover {
    color: black;
}

li a {
    color: white;
    text-decoration: none;
}

/* Login view styles */
body {
    background-color: #8da0b9;
}

.inline {
    max-width: 400px;
    margin: auto;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 3px;
}

/* Day view styles */
.hide {
    display: none !important;
}

.day-view-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.day-header {
    background-color: #0073FF;
    padding: 1%;

}

.day-view-body {
    height: 100%;
    min-height: 100vh;
    background-color: #8da0b9 !important;
    padding: 20px !important;
}

.day-view-cards-header h3 {
    font-size: 1.2rem;
}

.workout-day-view-sections {
    height: fit-content;
}

.todays-workout {
    width: 50%;
    padding: 10px;
    display: inline-flex;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px;
    padding: 10px;
    height: -webkit-fill-available !important;
}

#present-month-selector {
    font-size: 25px;
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    text-align: right !important;
    margin-right: -16%;
}

#present-month-selector:hover {
    color: rgb(141, 1, 141);
}

#present-month-selector:active {
    color: rgb(10, 0, 10);
    font-size: 26px;
}


.previous-workout {
    min-height: 50vh;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 1px;
    padding: 10px;
    background-color: #fff;
    float: right;
    margin-left: 5px;
    margin-bottom: 5px;
    height: fit-content;
}

#exercise-difficulty:first-letter {
    text-transform: uppercase;
}

#exercise-equipment:first-letter {
    text-transform: uppercase;
}

.exercises-info {
    min-height: 50vh;
    border-radius: 8px;
    box-shadow: 1px 1px 1px;
    padding: 10px;
    background-color: #fff;
    float: right;
    padding: 10px;
    height: -webkit-fill-available;
    margin-left: 5px;
    margin-top: 5px;
}

.clear {
    color: white;
    background-color: red;
    border: none;
}


.date-card {
    width: 11%;
    height: 100%;
    border: solid black;
}

.date-card-header {
    background-color: #0073FF;
    padding: 1%;
    border-bottom: solid black;
    text-align: center;
}

input,
select {
    margin-bottom: 10px;
}

.card-header {
    background-color: #0073FF;
    color: white;
}

/* Calendar Styles */
body {
    font-family: sans-serif;
    font-weight: 100;
    --grey-100: #e4e9f0;
    --grey-200: #cfd7e3;
    --grey-300: #b5c0cd;
    --grey-800: #3e4e63;
    --grid-gap: 1px;
    --day-label-size: 20px;
}

ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendar-month {
    /* position: relative; */
    background-color: var(--grey-200);
    border: solid 1px var(--grey-200);
    margin: 15px;
}


.calendar-month-header {
    display: flex;
    text-align: left;
    /* justify-content: center;  */
    justify-content: space-evenly;
    background-color: #fff;
    padding: 10px;
}

#selected-month {
    text-align: left;
}

.calendar-month-header-selected-month {
    font-size: 24px;
    font-weight: 600;
}

#previous-month-selector>* {
    display: flex;
    cursor: pointer !important;
}


#next-month-selector>* {
    display: flex;
    cursor: pointer !important;
}

.calendar-month-header-selectors {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 80px;
    margin-right: -21%;
}

.calendar-month-header-selectors>* {
    cursor: pointer;
}

.day-of-week {
    color: var(--grey-800);
    font-size: 18px;
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 10px;
}

.exercise-text {
    font-size: 15px;
}

.day-of-week,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day-of-week>* {
    text-align: right;
    padding-right: 5px;
}

.days-grid {
    height: 100%;
    position: relative;
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
    border-top: solid 1px var(--grey-200);
}

.calendar-day {
    position: relative;
    min-height: 100px;
    font-size: 16px;
    background-color: #fff;
    color: var(--grey-800);
    padding: 5px;
}

.calendar-day>span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2px;
    width: var(--day-label-size);
    height: var(--day-label-size);
}

.calendar-day:hover {
    cursor: pointer;
    /* background-color: rgb(163, 186, 203); */
    border: rgb(0, 0, 0) solid 1px;
}

.calendar-day--not-current {
    background-color: var(--grey-100);
    color: var(--grey-300);
}

.calendar-day--today {
    padding-top: 4px;
    border: solid #0073FF 2px;
}

.calendar-day--today>span {
    color: #fff;
    border-radius: 9999px;
    background-color: var(--grey-800);
}

.scrollable {
    position: relative;
    border: 1px solid gray;
    overflow: hidden;
    height: 400px;
}

.scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 7px;
    height: 90%;
    width: 3px;
    background: rgba(224, 224, 255, .3);
}

.scrollable .content-wrapper {
    width: 100%;
    height: 100%;
}

.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 10px;
    border-radius: 5px;
    background: rgb(111, 111, 190);
    top: 0px;
    right: 3px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}

.content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bi:hover {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    canvas {
        height: 80%;
    }
}
@media screen and (max-width: 600px) {

    .view-label {
        order: 2;
    }

    #daily-workout-plan {
        order: 1;
    }

    nav {
        order: 3;
    }

    .col-4 {
        width: 90%;
    }

    .mt-5 {
        width: 90%;
        text-align: center;
    }

    .header-font {
        text-align: center;
    }

    .workout-day-view-sections {
        display: flex;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .todays-workout.scrollable {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .previous-workout {
        margin-left: 0px;
        margin-top: 5px;
    }

    .exercises-info {
        margin-left: 0px;
    }

    .col-6 {
        width: 100%;
    }

    .day-header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav>ul {
        text-align: center;
        padding-inline-start: 0px;
    }

    .calendar-check {
        display: none
    }

    .exercise-text {
        display: none;
    }


}

@media screen and (max-width: 1000px) {

    .view-label {
        order: 2;
    }

    #daily-workout-plan {
        order: 1;
    }

    nav {
        order: 3;
    }

    .col-4 {
        width: 90%;
    }

    .mt-5 {
        width: 90%;
        text-align: center;
    }

    .header-font {
        text-align: center;
    }

    .workout-day-view-sections {
        display: flex;
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .todays-workout.scrollable {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 5px;
    }

    .previous-workout {
        margin-left: 0px;
        margin-top: 5px;
    }

    .exercises-info {
        margin-left: 0px;
    }

    .col-6 {
        width: 100%;
    }

    .day-header {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav>ul {
        text-align: center;
        padding-inline-start: 0px;

    }

    .calendar-check {
        display: none
    }

    .exercise-text {
        display: none;
    }
}