.day-view-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.day-header {
    background-color: #0073FF;
    padding: 1%;
    border: solid black;
}

.day-view-body {
    height: 100%;
    min-height: 100vh;
    /* margin: 4%; */
    background-color: #ffffff !important;
    padding: 20px !important;
    border: solid black;
}

.todays-workout {
    min-height: 80vh;
    width: 50%;
    display: inline-flex;
    ;
    border: solid black;
}

.previous-workout {
    min-height: 40vh;
    /* width: 48%; */
    border: solid black;
    float: right;
}

.exercises-info {
    min-height: 40vh;
    /* width: 48%; */
    border: solid black;
    float: right;
}

.week-view-card {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.week-view-header {
    background-color: #0073FF;
    padding: 1%;
    border: solid black;
    text-align: center;
    margin-bottom: 4%;
}

.week-view-body {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-card {
    width: 11%;
    height: 100%;
    border: solid black;
}

.date-card-header {
    background-color: #0073FF;
    padding: 1%;
    border-bottom: solid black;
    text-align: center;
}

input, select {
    margin-bottom: 10px;
}

.card {
    border: solid 2px #0452B3;
}

.card-header {
    background-color: #0452B3;
    color: white;
}